parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
	earlyTerminatingMethodCalls:
		Cake\Console\BaseCommand:
			- abort
		Cake\Console\ConsoleIo:
			- abort
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		- identifier: trait.unused
		- '#Negated boolean expression is always false.#'
		- '#Parameter \#1 \$.+ of function call_user_func_array expects .+, array.+ given.#'

includes:
	- vendor/cakedc/cakephp-phpstan/extension.neon
