<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="./tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	syntaxCheck="false">

	<testsuites>
		<testsuite name="Geo">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>

	<listeners>
		<listener class="\Cake\TestSuite\Fixture\FixtureInjector">
			<arguments>
				<object class="\Cake\TestSuite\Fixture\FixtureManager" />
			</arguments>
		</listener>
	</listeners>

    <!-- Prevent coverage reports from looking in tests, vendors, config folders -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

</phpunit>
