parameters:
  autoload_files:
    - tests/bootstrap.php

  ignoreErrors:
    - '#Access to an undefined property Cake\\ORM\\BehaviorRegistry::\$Search#'
    - '#Result of method .+QueueTaskInterface::run\(\) \(void\) is used.#'
